{{- $seed := .Values.secretSeed | required "secretSeed is required" }}
{{- $appNamespaces := list }}
{{- range .Values.appsEnabled }}
{{- $appNamespaces = append $appNamespaces (printf "lasuite-%s" .) }}
{{- end }}
{{- $namespaces := join "," $appNamespaces }}
---
apiVersion: v1
kind: Secret
metadata:
  name: redis-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "platform-configuration.labels" . | nindent 4 }}
  {{- if $namespaces }}
  annotations:
    {{- include "reflector.annotations" $namespaces | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  host: "{{ .Values.redis.host }}"
  port: "{{ .Values.redis.port }}"
  password: "{{ include "deriveSecret" (dict "seed" $seed "clientId" "redis") }}"
