{{- $_ := .Values.secretSeed | required "secretSeed is required" }}
{{- $appNamespaces := list }}
{{- range .Values.appsEnabled }}
{{- $appNamespaces = append $appNamespaces (printf "lasuite-%s" .) }}
{{- end }}
{{- $namespaces := join "," $appNamespaces }}
---
apiVersion: v1
kind: Secret
metadata:
  name: s3-credentials
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "platform-configuration.labels" . | nindent 4 }}
  {{- if $namespaces }}
  annotations:
    {{- include "reflector.annotations" $namespaces | nindent 4 }}
  {{- end }}
type: Opaque
stringData:
  endpoint: "{{ .Values.s3.endpoint }}"
  access-key: "{{ include "getSecret" (dict "root" . "id" "s3-access") }}"
  secret-key: "{{ include "getSecret" (dict "root" . "id" "s3-secret") }}"
